<h1>Property#home</h1>

<%= link_to 'Click here to Check All Properties', properties_path %>
<br>
<div class="row">
<% @properties.each do |property| %>
<div class="col-md-2">
    <% if property.id % 2 == 0 %>
    <%= link_to property.address, property %>
    <br/>
    <%= image_tag property.image %>
    <br/>
    Price : <%= property.price %><br/>
    <hr>
    <% end %>
  </div>
<% end %>
</div>


<%= link_to 'Click here to Check All Users', users_path %>
<br>
<div class="row">
<% @users.each do |user| %>
<div class="col-md-2">
<% if user.id % 2 == 0 %>

    <%= link_to user.username, user %>
    <br/>
    <%= image_tag user.profile_pic %>
    <br/>
    <hr>
    <% end %>
  </div>
<% end %>
  </div>
