<h2>User details</h2>

<% if @user.profile_pic.present? %>
  <%= cl_image_tag @user.profile_pic %>
<% end %>
<h1> <%=@user.username %></h1>
FullName: <%=@user.full_name %>
<br>
Email   :<%= @user.email %>

<% if ! (@current_user == @user) %>
<a class="btn btn-default" href= "mailto:<%= @user.email %>?bcc=email_2@mywebsite.com?" role="button">
Send Email Now</a>
<br>
<!-- <%= link_to 'Properties', property_path %> -->
<% end %>


<br><hr>
<% if @user.properties.length == 0 %>
  <p> You currently do not own any properties</p>
<% else %>
<p> <u>You current properties:</u></p>
<ul>
<% @user.properties.each do |p| %>
<li><%= p.address %> | <%= link_to 'Go to Property', p %></li>
<% end %>
</ul>
<% end %>
