

<%= form_for @property, class:"form-horizontal" do |f| %>

<div class="form-group">
  <div class=col-sm-10>
<fieldset>
  <%= f.label :address %>
  <%= f.text_field :address , autocomplete: "address", class:"form-control"%>
</fieldset>
</div>
</div>

<div class="form-group">
  <div class=col-sm-10>
<fieldset>
  <%= f.label :city  %>
  <%= f.text_field :city , autocomplete: "city", class:"form-control" %>
</fieldset>
</div>
</div>

<div class="form-group">
  <div class=col-sm-10>
<fieldset>
  <%= f.label :price %>
  <%= f.number_field :price , autocomplete: "price", class:"form-control" %>
</fieldset>
</div>
</div>

<div class="form-group">
  <div class=col-sm-10>
<fieldset>
  <%= f.label :property_type %>
  <%= f.text_field :property_type  , autocomplete: "property_type", class:"form-control"%>
</fieldset>
</div>
</div>

<div class="form-group">
  <div class=col-sm-10>
<fieldset>
  <%= f.label :image_url %>
  <%= f.text_field :image , autocomplete: "image_url", class:"form-control" %>
</fieldset>
</div>
</div>


<div class="form-group">
  <div class=col-sm-10>
<fieldset>
  <%= f.label :description %>
  <%= f.text_field :description , autocomplete: "description", class:"form-control" %>
</fieldset>
</div>
</div>

<div class="form-group">
  <div class="col-sm-10">
    <br><%= f.submit  'submit', class:"btn btn-primary" %>
  </div>
</div>

<% end %>
