
<%= form_for @property, html: {multipart: true}, class:"form-horizontal" do |f| %>

<div class="form-group">
  <div class=col-sm-10>
<fieldset>
  <%= f.label :address %>
  <%= f.text_field :address ,class:"form-control"%>
</fieldset>
</div>
</div>

<div class="form-group">
  <div class=col-sm-10>
<fieldset>
  <%= f.label :city  %>
  <%= f.text_field :city ,class:"form-control" %>
</fieldset>
</div>
</div>

<div class="form-group">
  <div class=col-sm-10>
<fieldset>
  <%= f.label :price %>
  <%= f.number_field :price , class:"form-control" %>
</fieldset>
</div>
</div>

<div class="form-group">
  <div class=col-sm-10>
<fieldset>
  <%= f.label :property_type %>
  <%= f.text_field :property_type  , class:"form-control"%>
</fieldset>
</div>
</div>

<div class="form-group">
  <div class=col-sm-10>

    <fieldset>
      <%= f.label :image %>
      <%= f.cl_image_upload :image %>
    </fieldset>
</div>
</div>


<div class="form-group">
  <div class=col-sm-10>
<fieldset>
  <%= f.label :description %>
  <%= f.text_field :description ,  class:"form-control" %>
</fieldset>
</div>
</div>


<div class="form-group">
  <div class=col-sm-10>
<fieldset>
  <%= f.label :number_of_beds %>
  <%= f.number_field :number_of_beds ,  class:"form-control" %>
</fieldset>

</div>
</div>


<div class="form-group">
  <div class=col-sm-10>
<fieldset>
  <%= f.label :number_of_baths %>
  <%= f.number_field :number_of_baths ,  class:"form-control" %>
</fieldset>

</div>
</div>


<div class="form-group">
  <div class=col-sm-10>
<fieldset>
  <%= f.label :number_of_parkings %>
  <%= f.number_field :number_of_parkings ,  class:"form-control" %>
</fieldset>

</div>
</div>



<div class="form-group">
  <div class=col-sm-10>
<fieldset>
  <%= f.label :pets_allowed %>
  <%= f.text_field :pets_allowed ,  class:"form-control" %>
</fieldset>

</div>
</div>

<div class="form-group">
  <div class=col-sm-10>
<fieldset>
  <%= f.label :wifi_present %>
  <%= f.text_field :wifi_present ,  class:"form-control" %>
</fieldset>

</div>
</div>


<div class="form-group">
  <div class=col-sm-10>
<fieldset>
  <%= f.label :smoking_allowed %>
  <%= f.text_field :smoking_allowed ,  class:"form-control" %>
</fieldset>

</div>
</div>


<div class="form-group">
  <div class=col-sm-10>
<fieldset>
  <%= f.label :cancellation_policy %>
  <%= f.text_field :cancellation_policy ,  class:"form-control" %>
</fieldset>
</div>
</div>



<div class="form-group">
  <div class="col-sm-10">
    <br><%= f.submit  'submit', class:"btn btn-primary" %>
  </div>
</div>

<% end %>
