

<h1> <%=@property.property_type %> at <%=@property.address %></h1>
  <br/>
  <%= cl_image_tag @property.image %>

  <br/>
      <%= link_to 'More pics', property_photos_path(@property) %>
  <hr>


<table class="table table-striped">
<tr>
  <td><span class="glyphicon glyphicon-home" aria-hidden="true"></span>
  Type : <%= @property.property_type %></td>
  <td><i class="fa fa-car" aria-hidden="true"></i>
  Parkings:             <%= @property.number_of_parkings %></td>
  <td><i class="fa fa-bath" aria-hidden="true"></i>
  Baths:                <%= @property.number_of_baths %></td>
</tr>
<tr>
  <td><span class="glyphicon glyphicon-bed" aria-hidden="true"></span>
  Beds:                 <%= @property.number_of_beds %></td>
  <td><i class="fa fa-github-alt" aria-hidden="true"></i>
  Pets :                <%= @property.pets_allowed %></td>
  <td><i class="fa fa-wifi" aria-hidden="true"></i>
  WiFi:                 <%= @property.wifi_present %></td>
</tr>
<tr>
  <td><span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
  Smoking:              <%= @property.smoking_allowed %></td>
  <td></td>
  <td></td>
</tr>
</table>



  Description:          <%= @property.description %><br/>
  <br/><hr>
  <%  if(@current_user == @property.user) %>
  <small> Your Property </small><br>
  <%= link_to 'Edit' , edit_property_path( @property )%> |
  <%= link_to 'Delete' , property_path( @property ), method: 'delete'%>
  <hr><hr><hr>
  <% else %>

  <%= link_to 'Contact the Owner', @property.user %>
  <hr>
  <% end %>


  <p><strong>Tags</strong>:</p>
  <ul>
  <% @property.tags.each do |tag| %>
    <li>
      <%= link_to tag.name, property_tag_path(@property) %>
    </li>
  <% end %>
  </ul>
  <hr>

  <p><strong>Bookings</strong>:</p>
  <ul>
  <% @property.bookings.each do |booking| %>
    <li>
      Booked from <%= Date.parse(booking.check_in) %> to  <%= Date.parse(booking.check_out) %>
      <%= link_to 'Delete Booking' , property_booking_path(@property, booking), method: 'delete' %>
    </li>
  <% end %>
  </ul>

  <%= link_to 'Make a Booking' , new_property_booking_path(@property) %>
  <hr>

  <!-- <%= link_to 'See More Photos', property_photos_path(@property) %> -->
