<!DOCTYPE html>
<html>
  <head>


    <style>
   #map {
    height: 400px;
    width: 100%;
     }
    </style>


    <title>RentalMarketplace</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>


  </head>

  <body>
  <div class="container">
    <nav>


    </nav>
  
    <%= yield %>
  </div>
  </body>
</html>
